body{
font-family:'Arial',sans-serif;
margin:0px;
}
#start,#sec,footer{
color:white;
}
a{
color:cyan;
text-decoration:none;
border-bottom:2px solid cyan;
}
#start ul{
list-style-type:none;
}
#bg{
text-align:center;
background-image:url("bg.jpg");
background-repeat:no-repeat;
background-size:100%;
	text-decoration:none;
}
#start{
padding:3%;
background-color:rgba(0,0,0,0.4);
}
#start li{
display:inline;
}
#sec{
text-align:left;
padding-top:2%;
padding-bottom: 2%;
padding-left:10%;
background-color:#EA1E63;

}
footer{
background-color:#585858;
padding-top:2%;
padding-bottom: 2%;
padding-left:10%;
}
#mid,#ct{
padding-top:2%;
padding-bottom: 2%;
padding-left:10%;
}

